.home-page {
  background-color: var(--background-light);
}

.home-page__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.name {
  color: var(--accent);
}

.learn-more-btn {
  margin-top: 30px;
}

.home-page__illustration {
  max-width: 50%;
}

.home-page__illustration--mobile {
  display: none;
  max-width: 70%;
  height: auto;
}

.bottom-bar {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0;
}

.bottom-bar__info {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.bottom-bar__info:last-of-type {
  margin-right: 0;
}

.bottom-bar__info > .text {
  margin-left: 10px;
}

/* MOBILE VERSION */
@media only screen and (max-width: 1100px) {
  .home-page__content {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .home-page__illustration {
    display: none;
  }

  .home-page__illustration--mobile {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }

  .bottom-bar {
    position: relative;
    margin-bottom: var(--navbar-height-minimized);
    padding: 20px 0;
  }

  .bottom-bar__info {
    margin-right: 20px;
  }
}
