.nav {
  background-color: var(--background-light);
  height: var(--navbar-height);
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.nav--minimized {
  height: var(--navbar-height-minimized);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.navbar__item {
  display: inline;
  color: var(--white);
  font-size: var(--font-m);
  font-weight: 300;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar__item__icon {
  display: none;
}

.navbar__item--icon {
  margin-left: 50px;
}

.navbar__item__content::before {
  content: "<";
  padding: 0 10px;
  color: var(--background-light);
  transition: color 0.2s ease-in-out;
}

.navbar__item__content::after {
  content: ">";
  padding: 0 10px;
  color: var(--background-light);
  transition: color 0.2s ease-in-out;
}

.navbar__item:hover,
.navbar__item:hover .navbar__item__content::before,
.navbar__item:hover .navbar__item__content::after {
  color: var(--accent);
}

.navbar__item--active,
.navbar__item--active > .navbar__item__content::after,
.navbar__item--active > .navbar__item__content::before {
  color: var(--accent);
}

/* MOBILE VERSION */
@media only screen and (max-width: 1100px) {
  .nav {
    height: var(--navbar-height-minimized);
    bottom: 0;
    top: auto;
    border-top: 1px solid var(--accent);
  }

  .navbar ul:nth-of-type(2) {
    display: none;
  }

  .navbar ul:first-of-type {
    justify-content: space-between;
    width: 100%;
  }

  .navbar__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--font-xs);
  }

  .navbar__item__content::before,
  .navbar__item__content::after {
    display: none;
  }

  .navbar__item__icon {
    display: inherit;
  }
}
