:root {
  /* THEME COLORS */
  --background-dark: #25272a;
  --background-light: #2c2f32;
  --accent: #098dec;
  --gray: #959494;
  --white: #fff;

  /* FONT SIZES */
  --font-xl: 50px;
  --font-l: 24px;
  --font-m: 20px;
  --font-text: 16px;

  /* MOBILE FONT SIZES */
  --font-xl-mobile: 24px;
  --font-l-mobile: 16px;
  --font-text-mobile: 14px;
  --font-xs: 12px;

  --navbar-height: 100px;
  --navbar-height-minimized: 75px;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;

  background-color: var(--background-light);
}

p {
  padding: 0;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/* GLOBALS */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  font-size: var(--font-xl);
  color: var(--white);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.title {
  font-size: var(--font-l);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.text {
  font-size: var(--font-text);
  font-weight: 300;
  color: var(--gray);
  margin: 0;
  padding: 0;
}

.button {
  background-color: var(--accent);
  color: var(--background-dark);
  border: 2px solid var(--accent);
  outline: none;
  font-size: var(--font-text);
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  background-color: transparent;
  color: var(--accent);
}

/* MOBILE VERSION */
@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 16px;
  }

  .header {
    font-size: var(--font-xl-mobile);
  }

  .title {
    font-size: var(--font-l-mobile);
  }

  .text {
    font-size: var(--font-text-mobile);
  }

  .button {
    font-size: var(--font-text-mobile);
    padding: 0.25rem 0.75rem;
  }
}

/* DISABLE HOVER EFFECTS ON MOBILE DEVICES */
@media (hover: none) {
  .button:hover {
    background-color: var(--accent);
    color: var(--background-dark);
  }
}
